Flask == 1.0.2
Flask_SQLAlchemy == 2.4.0
PyJWT == 1.7.1
backports.functools_lru_cache == 1.5
certifi == 2018.11.29
cryptography == 2.6.1
lxml == 4.2.5
numpy == 1.15.4
protobuf == 3.15.0
pyOpenSSL == 19.0.0
pywin32 == 224
requests == 2.21.0
setuptools == 39.0.1
wheel == 0.33.4
